
<div class="view" style="background-image: url('/assets/image/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; height: auto;">

<nav class="navbar navbar-light bg-dark">
  
  
    <a class="navbar-brand" href="#">
        <img src="assets/image/SLK.png" width="70" height="70">
    </a>
   
</nav>

 <div style="text-align: center">
  <a class="navbar-brand" href="#" >
      <p class="font-weight-bold" 
       style="color:black;font-size: 50px ">Welcome to {{ title }}</p>
  </a>
 </div>


<br><br>
<div class="container">
<div class="row">
    
    <div class="col-sm-6" style="padding-left:70px;">
      <button type="button" (click)="superuser()">
        <img width="300" height="250" src="assets/image/superuser1.jpg" >
      </button>
      <br><br><br>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="col-sm-6" style="padding-left:200px;">
      <button type="button" (click)="admin()">
      <img width="300" height="250" src="assets/image/admin.jpg">
    </button>
      <br><br><br>
     <!-- <input type="submit" style="left: 30% top:30%"  value="Admin" name="submit"/> -->
      </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>   
<div class="row">
    <div class="col-sm-6" style="padding-left:70px;">
      <button type="button" (click)="agent()">
      <img width="300" height="250" src="assets/image/agent.jpg">
    </button>
      <br><br><br>
      <!-- <input type="submit" style="left: 30% top:30%"  value="Agent" name="submit"/> -->
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="col-sm-6" style="padding-left:200px;">
      <button type="button" (click)="customerLogin()">
      <img width="300" height="250" src="assets/image/customers.jpg">
    </button>
      <br><br><br>
      <!-- <input type="submit" style="left: 30% top:30%"  value="Customer" name="submit"/>--> </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  
 
</div>
</div>
</div>