<body style="background: #e0ffff">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href=""><img src="assets/image/logo.png" style="height:50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
    </ul>
      

<ul class="nav justify-content-end">
   <li class="nav-item dropdown">

        <div  style="right:0; z-index: 10000;">
          <button class="btn btn-light" href="" (click)="home3()" ><img src="./assets/image/home.png" style="width: :35px;height: 35px;"/>
          </button>
          
        </div>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #43C6DB; padding-left:130px; height: 82px">
</nav>

  <br>



<div class="container">
<div class="row">


<div class="col-md-4">
   <div class="card"  style="border-color:#e0ffff;" >
      <div class="row no-gutters" style="background:#e0ffff;padding-left:80px">
      <img src="assets\image\ceo.jpg" class="card-img" alt="..." style="height: 400px; ">

     <h5 class="card-title "style="color:black; font-weight: bold; font-size: 25px" >ANDREW MACKENZI<br><br></h5>
      
        <div  style="padding-left: 70px;">
          
         <button href="" (click)="navigate()"class="btn btn-dark"  style="background: #43C6DB;color:black;font-weight: bold;">Update</button> &nbsp;
  
     </div>

    </div>
</div>
  </div>  
  
<div style="padding-left:60px"></div>
  <div class="col-sm-6">
    <div class="card" padding>
      <div class="row no-gutters">
<div class="card" style="width: 50rem; height: 33rem">
  <div class="card-header" style="font-weight: bold; font-size: 28px;">
    Basic Information
  </div>
  <ul class="list-group list-group-flush" *ngFor='let user of getData'>
    <li class="list-group-item" style="height: 4rem">Employee ID      : {{ user.emp_no }}</li>
    <li class="list-group-item" style="height: 4rem">Name     : {{ user.name }}</li>
    <li class="list-group-item" style="height: 4rem">Date of Birth     : {{ user.dob }}</li>
    
    <li class="list-group-item" style="height: 4rem">Phone No.     : {{ user.phno }}</li>
    <li class="list-group-item" style="height: 4rem">Username      : {{ user.username }}</li>
    <li class="list-group-item" style="height: 4rem">Password      : {{ user.password }}</li>
    <li class="list-group-item" style="height: 4rem">Role : {{ user.emp_role }}</li>
  </ul>
</div>
</div>
</div>
</div>


<!--<div class="col-sm-4">
  <div class="card" padding>
      <div class="row no-gutters">
<div class="card" style="width: 32rem;height: 33rem">
  <div class="card-header"style="font-weight: bold;font-size: 28px;">
     Additional Information
  </div>
  <ul class="list-group list-group-flush" *ngFor='let user of getData'>
    <li class="list-group-item" style="height: 4rem">Role : {{ user.emp_role }}</li>
    <li class="list-group-item" style="height: 4rem">Hometown      : Sharp Park, Pacifica , CA</li>
   <li class="list-group-item" style="height: 4rem">Qualification : University of Oxford, Master of Business Administration (MBA) degree</li>
   <li class="list-group-item" style="height: 4rem">Time Period : October 2010 - Present</li>
    <li class="list-group-item" style="height: 4rem">Gender : Male</li>
    <li class="list-group-item" style="height: 4rem">Blood Group : O+ve</li>
    
    <li class="list-group-item" style="height: 4rem">Interests : Travel, Housing</li>



  </ul>
</div>


</div>
</div>
</div>-->


</div>
</div>
<br>
<br>
<br>
</body>