<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#"><img src="./assets/IMG/logo.png" style="width:120px; height: 30px;" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
    </ul>
   
    <ul class="nav justify-content-end">
      
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 transparent-input" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="#"><img src="./assets/IMG/nLogo.png" style="width: :30px;height: 30px;" /></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="./assets/IMG/profileLogo.png" style="width: :30px;height: 30px;" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="right:0; z-index: 10000;">
          <a class="dropdown-item" href="/profile">{{cname}} </a>
          <button class="dropdown-item" (click)="logout()">SignOut</button>
        </div>
      </li>
     
    </ul>
  </div>
</nav>




<nav class="navbar navbar sticky-top navbar-expand-lg navbar-dark " style="background-color: #9F497C;">
  <a class="navbar-brand col-sm-3" href="/D_customer">HOME</a>
  <a class="navbar-brand col-sm-3" href="faq">FAQ</a>
  <a class="navbar-brand col-sm-3" href="about">ABOUT US</a>
  <a class="navbar-brand col-sm-3" href="/D_contact">CONTACT US</a>
  
</nav>

<br><br><br>

<div class="container-fluid">


<br>
<div class="row">
	<!-- Team Card -->
<div class="card pmd-card text-center col-sm-2 mx-auto">
    <div class="card-body">
        <img src="https://pro.propeller.in/assets/images/Keith-Dowd.png" class="rounded-circle img-fluid mb-3" title="" alt="">
        <h2 class="card-title" style="font-family: 'Allerta Stencil';">Rachayya Kallimath</h2>
        <p class="card-subtitle mb-3" style="font-family: 'Allerta Stencil';">Contact No:  7845785455</p>
       
    </div>
</div>
<!-- Team Card -->
<div class="card pmd-card text-center col-sm-2 mx-auto">
    <div class="card-body">
        <img src="https://pro.propeller.in/assets/images/Keith-Dowd.png" class="rounded-circle img-fluid mb-3" title="" alt="">
        <h2 class="card-title" style="font-family: 'Allerta Stencil';">Archana Shetty</h2>
        <p class="card-subtitle mb-3" style="font-family: 'Allerta Stencil';">Contact No:  9902767288</p>
       
    </div>
</div>
<!-- Team Card -->
<div class="card pmd-card text-center col-sm-2 mx-auto">
    <div class="card-body">
        <img src="https://pro.propeller.in/assets/images/Keith-Dowd.png" class="rounded-circle img-fluid mb-3" title="" alt="">
        <h2 class="card-title" style="font-family: 'Allerta Stencil';">Sagar Banakal</h2>
        <p class="card-subtitle mb-3" style="font-family: 'Allerta Stencil';">Contact No:  8762358886</p>
       
    </div>
</div>
<!-- Team Card -->
<div class="card pmd-card text-center col-sm-2 mx-auto">
    <div class="card-body">
        <img src="https://pro.propeller.in/assets/images/Keith-Dowd.png" class="rounded-circle img-fluid mb-3" title="" alt="">
        <h2 class="card-title" style="font-family: 'Allerta Stencil';">Supriya T</h2>
        <p class="card-subtitle mb-3" style="font-family: 'Allerta Stencil';">Contact No:  8792103991</p>
        
    </div>
</div>
</div>
</div>