<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/image/logo.png" style="height:50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <h1></h1>
    </div>
  </div>
  </nav>

 
  
  <div class="container">
  <form ngForm>

  <div class="form-group">
    <label for="id" style="color:black;font-weight: bold;font-family: Times New Roman;">ID</label>
    <input type="text" class="form-control" id="id"
           required
           [(ngModel)]="model.emp_no" name="id" [readonly]="true">
  </div>
   <div class="form-group">
    <label for="name"style="color:black;font-weight: bold;font-family: Times New Roman;">Name</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="model.name" name="name">
  </div>

  <div class="form-group">
    <label for="dob"style="color:black;font-weight: bold;font-family: Times New Roman;">Date of Birth</label>
    <input type="text"  class="form-control" id="dob" required
           [(ngModel)]="model.dob" name="dob">
  </div>
  <div class="form-group">
   <label for="phno"style="color:black;font-weight: bold;font-family: Times New Roman;">Contact Number</label>
    <input type="number" class="form-control" id="phno"
           required
           [(ngModel)]="model.phno" name="phno">
  </div>
  <div class="form-group">
   <label for="username"style="color:black;font-weight: bold;font-family: Times New Roman;">Username</label>
    <input type="text" class="form-control" id="username"
           required
           [(ngModel)]="model.username" name="username">
  </div>
  <div class="form-group">
   <label for="password"style="color:black;font-weight: bold;font-family: Times New Roman;">Password</label>
    <input type="text" class="form-control" id="password"
           required
           [(ngModel)]="model.password" name="password">
  </div>
  <div class="form-group">
   <label for="role"style="color:black;font-weight: bold;font-family: Times New Roman;">Role</label>
    <input type="text" class="form-control" id="role"
           required
           [(ngModel)]="model.emp_role" name="role" [readonly]="true">
  </div>

  <br>
 
  <button type="button" class="btn btn-info" (click)="updRow()"style="color:black;font-weight: bold;font-family: Times New Roman;">Submit</button>&nbsp;
  </form>


  
  
</div>